.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color:aquamarine;
    margin: 0px;

    .title {
        padding: 5px;
        text-align: center;
        font-size: 40px;
    }

    .nav{
        padding: 5px;

        #posts{
            cursor: pointer;
            color: white;
            text-shadow: 1px 1px black;
        }
    }
}

.desc {
    
    height: 200px;
    width: 100%;
    background-color: lighten(grey,10%);

}

.post-tile {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    border: 2px solid black;
}